.intro__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  max-width: 678px;
}


@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    list-style: 35px;
    min-width: 288px;
  }
}
